<div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Configurações do Simulador</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <h3>Algoritmo</h3>
            <select class="form-control input-sm" data-bind="selectedOptions: algoritmo">
                <option value="">Selecionar...</option>
                <option value="0">Ótimo</option>
                <option value="1">FIFO</option>
                <option value="2">LRU</option>                
                <option value="4">Relógio FIFO Circular</option>
            </select>
        </div>
        <div class="col-lg-3">
            <h3>Carregamento</h3>
            <select class="form-control input-sm" data-bind="selectedOptions: politicaBusca">
                <option value="">Selecionar...</option>
                <option value="1">Antecipada e Por Demanda</option>
                <option value="2">Por Demanda</option>
            </select>
        </div>
        <div class="col-lg-3">
            <h3>Política de Alocação</h3>
            <select class="form-control input-sm" data-bind="selectedOptions: politicaAlocacao" onchange="$('#politicaAlocacaoFrames').css('display', this.value == 1 ? 'block' : 'none')">
                <option value="">Selecionar...</option>
                <option value="1">Fixa</option>
                <option value="2">Variável</option>
            </select>
            <div id="politicaAlocacaoFrames" style="display: none; padding-top:5px;">
                Número de Frames
                <input type="text" class="input input-sm" data-bind="value: politicaAlocacaoFrames" placeholder="Frames" style="width: 100px;" />
            </div>
        </div>
        <div class="col-lg-3">
            <h3>Substituição</h3>
            <select class="form-control input-sm" data-bind="selectedOptions: escopoSubstituicao">
                <option value="">Selecionar...</option>
                <option value="1">Global</option>
                <option value="2">Local</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <h3>String de Referência</h3>
            <div class="input-group">
              <input type="text" id="stringReferencia" class="form-control input-sm" data-bind="value: stringReferencia" disabled />
              <span class="input-group-addon" data-bind="click: removePage">
                <i class="glyphicon glyphicon-hand-left"></i>
              </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-2">
        <h4>Processo A</h4>
        <small>w?</small>
        <div>
          <input id="rwA1" type="checkbox">
          <button class="btn input-sm" data-bind="click: addPage" value="A1" style="margin-bottom: 5px; background-color: #99FF99">&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;</button><br>
          <input id="rwA2" type="checkbox">
          <button class="btn input-sm" data-bind="click: addPage" value="A2" style="margin-bottom: 5px; background-color: #99FF99">&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;</button><br>
          <input id="rwA3" type="checkbox">
          <button class="btn input-sm" data-bind="click: addPage" value="A3" style="margin-bottom: 5px; background-color: #99FF99">&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;</button><br>
          <input id="rwA4" type="checkbox">
          <button class="btn input-sm" data-bind="click: addPage" value="A4" style="margin-bottom: 5px; background-color: #99FF99">&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;</button><br>
          <input id="rwA5" type="checkbox">
          <button class="btn input-sm" data-bind="click: addPage" value="A5" style="margin-bottom: 5px; background-color: #99FF99">&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;</button><br>
          <!-- <input id="rwA6" type="checkbox">
          <button class="btn input-sm" data-bind="click: addPage" value="A6" style="margin-bottom: 5px; background-color: #99FF99">&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;</button> -->
      </div>
    </div>
    <div class="col-lg-2">
      <h4>Processo B</h4>
      <small>w?</small>
      <div>
        <input id="rwB1" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="B1" style="margin-bottom: 5px; background-color: #85D6FF">&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;</button><br>
        <input id="rwB2" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="B2" style="margin-bottom: 5px; background-color: #85D6FF">&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;</button><br>
        <input id="rwB3" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="B3" style="margin-bottom: 5px; background-color: #85D6FF">&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;</button><br>
        <input id="rwB4" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="B4" style="margin-bottom: 5px; background-color: #85D6FF">&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;</button><br>
        <input id="rwB5" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="B5" style="margin-bottom: 5px; background-color: #85D6FF">&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;</button><br>
        <!-- <input id="rwB6" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="B6" style="margin-bottom: 5px; background-color: #85D6FF">&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;</button> -->
      </div>
    </div>
    <div class="col-lg-2">
      <h4>Processo C</h4>
      <small>w?</small>
      <div>
        <input id="rwC1" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="C1" style="margin-bottom: 5px; background-color: #FFFFCC">&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;</button><br>
        <input id="rwC2" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="C2" style="margin-bottom: 5px; background-color: #FFFFCC">&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;</button><br>
        <input id="rwC3" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="C3" style="margin-bottom: 5px; background-color: #FFFFCC">&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;</button><br>
        <input id="rwC4" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="C4" style="margin-bottom: 5px; background-color: #FFFFCC">&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;</button><br>
        <input id="rwC5" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="C5" style="margin-bottom: 5px; background-color: #FFFFCC">&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;</button><br>
        <!-- <input id="rwC6" type="checkbox">
        <button class="btn input-sm" data-bind="click: addPage" value="C6" style="margin-bottom: 5px; background-color: #FFFFCC">&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;</button> -->
      </div>
    </div>
  </div>
</div>
