<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center" id="refstring" style="font-size: 20px; font-weight: bold; display: block;">P0</div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <canvas id="simulador" width="1140" height="465" style="border: 1px solid #ccc;">
                Este browser não suporta o elemento canvas do HTML5. Você precisará ir para outro browser. Eu recomendo o chrome, para este e para todos os sites do planeta!
            </canvas>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <button type="button" class="btn btn-sm btn-success" data-bind="click: start">Iniciar</button>
            <button type="button" class="btn btn-sm btn-warning" data-bind="click: stepByStep">Passo a Passo</button>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <br />
    <img id="noconf" style="display:none;" src="Content/images/noconf.png">
    <img id="start" style="display:none;" src="Content/images/start.png">
    <img id="stop" style="display:none;" src="Content/images/stop.png">
</div>
