<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center" data-bind="html: callStack" id="refstring" style="font-size: 20px; font-weight: bold; display: block; min-height: 28px;"></div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <canvas id="simulador" width="1140" height="465" style="border: 1px solid #ccc;">
                Este browser não suporta o elemento canvas do HTML5. Você precisará ir para outro browser. Eu recomendo o chrome, para este e para todos os sites do planeta!
            </canvas>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <button type="button" class="btn btn-sm btn-success" data-bind="click: start">Iniciar</button>
            <button type="button" class="btn btn-sm btn-warning" data-bind="click: stepByStep">Passo a Passo</button>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <br />
    <img id="noconf" style="display:none;" src="Content/images/noconf.png">

    <img id="begin_left" style="display:none;" src="Content/images/begin_left.png">
    <img id="start_left" style="display:none;" src="Content/images/start_left.png">
    <img id="stop_left" style="display:none;" src="Content/images/stop_left.png">
    <img id="end_left" style="display:none;" src="Content/images/end_left.png">

    <img id="begin_right" style="display:none;" src="Content/images/begin_right.png">
    <img id="start_right" style="display:none;" src="Content/images/start_right.png">
    <img id="stop_right" style="display:none;" src="Content/images/stop_right.png">
    <img id="end_right" style="display:none;" src="Content/images/end_right.png">
</div>
