<div>
    <div class="row">
        <div class="col-lg-4">
            <h2>Informações</h2>
            <p>
                Trabalho de Conclusão de Curso 2014.2<br />
                Faculdade Farias Brito<br />
                <a href="../../arquivos/TCC1_Reginaldo_Barros.pdf" target="_blank">Baixar</a>
            </p>
            <p class="text-danger">
                <small>Este site não funciona no Internet Explorer por razões óbvias!</small>
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Tecnologias</h2>
            <ul>
                <li><a href="http://dev.w3.org/html5/html-author/" target="_blank">HTML5</a></li>
                <li><a href="http://www.w3.org/Style/CSS/" target="_blank">CSS</a></li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a></li>
                <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
                <li><a href="http://durandaljs.com" target="_blank">Durandal</a></li>
                <li><a href="http://paperjs.org" target="_blank">Paperjs</a></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Autor</h2>
            <p>
                Aluno: Reginaldo Barros
            </p>
            <p>
                Orientador: Prof. Sérgio Yunes
            </p>
        </div>
    </div>
</div>
