<div>
    <div class="row">
        <div class="col-lg-4">
            <h2>Informações</h2>
            <p>
                Trabalho de Conclusão de Curso 2014.2<br />
                Faculdade Farias Brito<br />
                <a href="../../arquivos/TCC1_Reginaldo_Barros.pdf" target="_blank">Baixar</a>
            </p>
            <p class="text-danger">
                <small>Este site não funciona no Internet Explorer por razões óbvias!</small>
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Tecnologias</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
                <li>Durandal</li>
                <li>Paperjs</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Autor</h2>
            <p>
                Aluno: Reginaldo Barros
            </p>
            <p>
                Orientador: Prof. Sérgio Yunes
            </p>
        </div>
    </div>
</div>
